/* header */
header {
    display: flex;
    justify-content: center;

    padding: 60px 0 30px;
}
header #logo {
    font-family: var(--font-title-header);

    position: relative;
}
header .verde, header .vermelho {
    position: absolute;

    top: 0;
}
header .verde {
    font-size: 4.1em;
    z-index: 1;
    background-color: var(--corVerdeLogo01);
    color: var(--corVerdeLogo02);

    left: 0;
    transform: translate(-22%, -39%) rotateZ(-22deg);
}
header .vermelho {
    font-size: 3em;
    z-index: 1;
    background-color: var(--corVermelhaLogo01);
    color: var(--corVermelhaLogo02);

    right: 0;
    transform: translate(40%, -50%) rotateZ(25deg);

    animation: desce 6s ease forwards;
}
header img {
    z-index: 1;

    width: 200px;

    position: relative;
}
header #img::before, header #img::after {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header #img::before {
    z-index: -1;
    background-color: #ff4800;

    height: 110%;
    width: 110%;
}
header #img::after {
    z-index: 0;
    background-color: #ff5f20;

    height: 105%;
    width: 105%;
}

/* main */
main {
    background-color: var(--corAmarela);
    margin: 0 200px;
    margin-bottom: 30px;
    padding: 10px;

    box-shadow: -10px 10px 0 1px #000;
}

/* section */
section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* article*/
article {
    position: relative;
}
article h1 {
    background-color: var(--corVerde01);
    color: var(--corVerde02);
    font-size: 2em;
    padding: 2px 5px;
    position: absolute;
}
article p {
    background-color: var(--corAzul01);
    color: var(--corAzul02);

    text-align: justify;

    margin: 18px 15px 5px;
    padding: 30px 10px 10px;
}
article p::first-letter {
    font-size: 1.3em;
    font-weight: bold;
}
article img {
    border: 4px solid var(--corAzul03);
    width: 200px;

    float: left;
    margin-right: 15px;
}
article a {
    font-weight: bold;

    color: var(--corAzulLink01);

    position: relative;

    transition: color .1s ease;
}
article a:active {
    color: var(--corAzulLink02);
}

/* iframe */
iframe {
    margin: 0 auto;

    border-radius: 12px;
}
iframe[data-display="none"] {
    display: block;

    top: 0;
    float: right;

    margin: 29px;

    position: sticky;
}
iframe[data-yt="yt"] {
    height: 315px;
    width: 640px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #942f00;
}
::-webkit-scrollbar-thumb {
    background: #ff7300;
    border-radius: 50px;

    transition: background 1s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #ca5b00;
}
::-webkit-scrollbar-thumb:active {
    background: #b35000;
}