/* fonte */
@font-face {
    font-family: "La Bamba";
    src: url(../fonts/la-bamba-std.otf);
}

/* animações */
@keyframes sobe {
    to {
        padding-bottom: 2px;
    }
}
@keyframes desce {
    to {
        padding-top: 2px;
    }
}

/* variáveis */
:root {
    /* fontes */
    --font-title-header: "La Bamba";
    --font-title-article: ;
    --font-para-article: ;

    /* cores */
    --corVermelha: #aa0014;
    --corAmarela: #dbd400;
    --corVerde01: #34db25;
    --corVerde02: #2f5C2b;
    --corAzul01: #07618b;
    --corAzul02: #1699db;
    --corAzul03: #009ae7;
    --corVerdeLogo01: #00c552;
    --corVerdeLogo02: #00963f;
    --corVermelhaLogo01: #ff1e26;
    --corVermelhaLogo02: #e30713;
    --cor01: ;
    --cor02: ;
}

/* configuração do documento HTML*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}