body {
    background-color: var(--corVermelha);
}

/* header */
header {
    /* border: 1px solid #ff0; */

    display: flex;
    justify-content: center;

    padding: 65px 0;
}

header h1 {
    /* border: 1px solid #00f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

    text-align: center;
    text-transform: uppercase;

    font-family: var(--font-title-header);
    font-size: 2.8em;

    position: relative;
}
header .verde, header .vermelho {
    position: absolute;
}
header .verde {
    z-index: 0;
    background-color: var(--corVerdeLogo01);
    color: var(--corVerdeLogo02);

    padding-bottom: 50px;

    top: 0;
    transform: translateY(-39px);

    animation: sobe 6s ease forwards;
}
header .vermelho {
    z-index: -1;
    background-color: var(--corVermelhaLogo01);
    color: var(--corVermelhaLogo02);

    padding-top: 130px;

    bottom: 0;
    transform: translateY(32px);

    animation: desce 6s ease forwards;
}
header img {
    z-index: 1;

    width: 200px;
}

/* main */
main {
    /* border: 1px solid #0f0; */

    background-color: var(--corAmarela);
    margin: 0 25px;
    padding: 10px;

    box-shadow: -10px 10px 0 1px #000;
}
main section {
    /* border: 1px solid #00f; */

    display: flex;
    flex-direction: column;
    gap: 5px;
}
main section article {
    /* border: 3px solid #f00; */
    position: relative;
}
main section article h1 {
    /* border: 2px solid #f0f; */

    background-color: var(--corVerde01);
    color: var(--corVerde02);
    font-size: 2em;
    /* font-variant: small-caps; */
    padding: 2px 5px;
    position: absolute;
}
main section article p {
    /* border: 2px solid #0ff; */

    background-color: var(--corAzul01);
    color: var(--corAzul02);

    /* text-indent: 15px; */
    text-align: justify;

    margin: 18px 15px 5px;
    padding: 30px 10px 10px;
}
main section article p::first-letter {
    font-size: 1.3em;
    font-weight: bold;
}
main section article img {
    border: 4px solid var(--corAzul03);
    width: 200px;

    float: left;
    margin-right: 10px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #942f00;
}
::-webkit-scrollbar-thumb {
    background: #ff7300;
    border-radius: 50px;

    transition: background 1s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #ca5b00;
}
::-webkit-scrollbar-thumb:active {
    background: #b35000;
}